@media screen and (min-width: 640px) {
    .header {
        height: 75px;
        width: 640px;
        margin: 0 auto;
        background-color: #373c3f;
    }
    .header__logo {
        display: block;
    }
    .header__nav-items {
        display: none;
    }
    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__nav_text {
        color: #ffffff;
        font-size: 25px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-left: 37px;
    }
    .header__nav_burger {
        width: 81px;
        height: 75px;
        background-color: #202529;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__nav_burger_burger__button {
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .header__nav_burger_burger__button i {
        position: absolute;
        width: 31px;
        height: 4px;
        opacity: 1;
        background-color: #fff;
        top: -3px;
        left: -5px;
        transition: all .4s linear;
        transform-origin: 3.0px 1px;
    }
    .header__nav_burger_burger__button i:nth-child(2) {
        top: 6px;
    }
    .header__nav_burger_burger__button i:nth-child(3) {
        top: 15px;
    }
    .header__nav_burger .burger__button_opened i:nth-child(1) {
        transform: rotate(45deg);
    }
    .header__nav_burger .burger__button_opened i:nth-child(2) {
        opacity: 0;
    }
    .header__nav_burger .burger__button_opened i:nth-child(3) {
        transform: rotate(-45deg);
    }
    .burger-menu {
        width: 243px;
        height: 214px;
        background-color: #fafafa;
        position: absolute;
        top: 0;
        right: 1px;
        display: none;
        transition: 1s;
    }
    .burger-menu__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 243px;
        height: 41px;
        border-bottom: 1px solid #f3f3f3;
        border-top: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        cursor: pointer;
    }
    .burger-menu__list_item {
        text-decoration: none;
        color: #444444;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        padding: 16px 128px 8px 29px;
    }
    .burger-menu__list:hover {
        background-color: #f5f5f5;
    }
    .first-container {
        margin: 0 auto;
        background-image: url("../img/header-fon.png");
        width: 640px;
        height: 346px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
    }
    .first-container__main-text {
        color: #ffffff;
        font-size: 35px;
        font-family: "Myriad Pro Regular", sans-serif;
        font-weight: 600;
        padding-left: 38px;
        padding-top: 25px;
        margin-bottom: -18px;
    }
    .first-container__text-site {
        color: #a6d6e0;
        font-size: 24px;
        font-family: "Myriad Pro Regular", sans-serif;
        font-weight: 600;
        padding-left: 37px;
        padding-top: 40px;
    }
    .product-gallery {
        margin: 4px auto;
        width: 640px;
        height: 457px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .product-gallery__menu-first {
        background-image: url("../img/menu1.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 640px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
    }
    .product-gallery__menu-first_text {
        color: #ffffff;
        font-size: 33px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-left: 136px;
        padding-bottom: 3px;
    }
    .product-gallery__menu-first_link {
        width: 142px;
        height: 150px;
        background-color: #acd8ad;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .product-gallery__menu-first_link > i {
        color: #fefeff;
        font-size: 27px;
        padding-right: 7px;
        padding-bottom: 10px;
    }
    .product-gallery__menu-second {
        background-image: url("../img/menu2.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 640px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
    }
    .product-gallery__menu-second_text {
        color: #ffffff;
        font-size: 33px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-left: 136px;
        padding-bottom: 3px;
    }
    .product-gallery__menu-second_link {
        width: 142px;
        height: 150px;
        background-color: #acd8ad;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .product-gallery__menu-second_link > i {
        color: #fefeff;
        font-size: 27px;
        padding-right: 7px;
        padding-bottom: 10px;
    }
    .product-gallery__menu-third {
        background-image: url("../img/menu3.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 640px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
    }
    .product-gallery__menu-third_text {
        color: #ffffff;
        font-size: 33px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-left: 186px;
        padding-bottom: 10px;
    }
    .product-gallery__menu-third_link {
        width: 142px;
        height: 150px;
        background-color: #acd8ad;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .product-gallery__menu-third_link > i {
        color: #fefeff;
        font-size: 27px;
        padding-right: 7px;
        padding-bottom: 10px;
    }
    .menu {
        margin: 0 auto;
        width: 640px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding-left: 13px;
    }
    .menu__header_img {
        display: none;
    }
    .menu__header_main-text {
        text-transform: uppercase;
        color: #3f4043;
        font-size: 42px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-left: 13px;
        padding-top: 33px;
        letter-spacing: -0.07em;
    }
    .menu__header_second-text {
        color: #cbccce;
        font-size: 20px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-left: 17px;
        padding-top: 3px;
    }
    .bars__320_main {
        display: none;
    }
    .bars__640_main {
        margin: 19px auto 0;
        width: 640px;
        height: 75px;
        display: block;
    }
    .bars__640_main__left {
        width: 640px;
        height: 75px;
        background-color: #3f4043;
        display: flex;
        align-items: center;
    }
    .bars__640_main__left_text {
        text-transform: uppercase;
        color: #acd8ad;
        font-family: "Myriad Pro Regular", sans-serif;
        font-size: 40px;
        padding-left: 37px;
    }
    .bars__640_main_right {
        margin: 420px auto 0;
        width: 640px;
        height: 75px;
        display: block;
    }
    .bars__640_main_right__right {
        width: 640px;
        height: 75px;
        background-color: #acd8ad;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .bars__640_main_right__right_text {
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Myriad Pro Regular", sans-serif;
        font-size: 38px;
        padding-left: 39px;
    }
    .table {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 640px;
    }
    .table__row {
        width: 640px;
    }
    .table__row_column-first {
        display: flex;
        width: 100%;
        padding-top: 28px;
        justify-content: space-between;
        align-items: center;
    }
    .table__row_column-first_headline {
        text-transform: uppercase;
        color: #3f4043;
        font-family: "Myriad Pro Regular", sans-serif;
        font-size: 30px;
        padding-left: 36px;
        padding-top: 4px;
    }
    .table__row_column-first_logo > img {
        height: 44px;
        padding-right: 30px;
        padding-bottom: 7px;
    }
    .table__row_column-first_list {
        width: 640px;
        height: 212px;
        padding-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table__row_column-first_list_items {
        width: 640px;
        height: 220px;
        padding-left: 31px;
        padding-top: 12px;
    }
    .table__row_column-first_list_items_headtext {
        float: left;
        font-size: 26px;
        font-family: "Myriad Pro Regular", sans-serif;
    }
    .table__row_column-first_list_items_text {
        text-align: right;
        font-size: 26px;
        font-family: "Myriad Pro Regular", sans-serif;
        font-weight: 600;
        padding-right: 40px;
    }
    .table__row_column-first_list_items_li {
        margin-bottom: 22px;
    }
    .table__row_column-first_list_items li {
        list-style-type: square;
        font-size: 8px;
        margin-bottom: 22px;
    }
    .table__row_column-first_list_items p {
        text-align: justify;
        font-size: 18px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-top: 16px;
        margin-left: 6px;
        padding-right: 36px;
    }
    .table__row_column-second {
        display: flex;
        width: 100%;
        height: 75px;
        justify-content: space-between;
        align-items: center;
        margin-top: 191px;
    }
    .table__row_column-second_headline {
        text-transform: uppercase;
        color: #3f4043;
        font-family: "Myriad Pro Regular", sans-serif;
        font-size: 30px;
        padding-left: 36px;
    }
    .table__row_column-second_logo > img {
        height: 47px;
        padding-right: 47px;
    }
    .table__row_column-second_list {
        width: 640px;
        height: 210px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
    }
    .table__row_column-second_list_items {
        width: 640px;
        padding-left: 32px;
        padding-top: 18px;
    }
    .table__row_column-second_list_items_headtext {
        float: left;
        font-size: 27px;
        font-family: "Myriad Pro Regular", sans-serif;
    }
    .table__row_column-second_list_items_text {
        text-align: right;
        font-size: 27px;
        font-family: "Myriad Pro Regular", sans-serif;
        font-weight: 600;
        padding-right: 37px;
    }
    .table__row_column-second_list_items_li {
        margin-bottom: 23px;
    }
    .table__row_column-second_list_items li {
        list-style-type: square;
        font-size: 8px;
        margin-bottom: 24px;
    }
    .table__row_column-second_list_items p {
        text-align: justify;
        font-size: 18px;
        font-family: "Myriad Pro Regular", sans-serif;
        padding-top: 14px;
        margin-left: 4px;
        padding-right: 37px;
    }
    .footer {
        margin: 440px auto 0;
        width: 640px;
        height: 96px;
        background-color: #acd8ad;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .footer__text {
        color: #ffffff;
        font-size: 20px;
        font-family: "Myriad Pro Regular", sans-serif;
        margin-bottom: 2px;
        margin-top: 2px;
    }
}
