.container{
    width: 320px;
    margin: 0 auto;
    display: block;
}
.item{
    background-color: cadetblue;
    border: 1px solid #691877;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px 40px;
    text-align: center;
    color: white;
}
.header{
    height: 100px;
    background-color: #000000;
    color: #ffffff;
}
.burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}
.burger__button{
    position: relative;
    width: 20px;
    height: 20px;
}
.burger__button i{
    position: absolute;
    width: 20px;
    height: 2px;
    opacity: 1;
    background-color: #fff;
    top: 0;
    left: 0;
    transition:  all .4s linear;
    transform-origin: -2.5px 1px;
}
.burger__button i:nth-child(2){
    top: 9px;
}
.burger__button i:nth-child(3){
    top: 18px;
}
.burger__button_opened i{

}
.burger__button_opened i:nth-child(1){
    transform: rotate(45deg);
}
.burger__button_opened i:nth-child(2){
    opacity: 0;
}
.burger__button_opened i:nth-child(3){
    transform: rotate(-45deg);
}