.header {
  height: 97px;
  width: 1200px;
  margin: 0 auto;
  background-color: #373c3f;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 37px;
}

.header__nav-items {
  text-decoration: none;
  text-transform: uppercase;
  color: #ebebeb;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.header__logo {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 38px;
}

.first-container {
  margin: 0 auto;
  background-image: url("../img/header-fon.png");
  width: 1200px;
  height: 649px;
  background-repeat: no-repeat;
  background-position: center;
}

.first-container__main-text {
  color: #ffffff;
  font-size: 60px;
  font-family: "Myriad Pro Regular", sans-serif;
  font-weight: 100;
  padding-left: 42px;
  padding-top: 53px;
  margin-bottom: -44px;
}

.first-container__text-site {
  color: #a6d6e0;
  font-size: 40px;
  font-family: "Myriad Pro Regular", sans-serif;
  font-weight: 300;
  padding-left: 37px;
  padding-top: 92px;
}

.product-gallery {
  margin: 6px auto;
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.product-gallery__menu-first {
  background-image: url("../img/menu1.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-gallery__menu-first_text {
  color: #ffffff;
  font-size: 43px;
  font-family: "Myriad Pro Regular", sans-serif;
}

.product-gallery__menu-second {
  background-image: url("../img/menu2.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-gallery__menu-third {
  background-image: url("../img/menu3.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin: 0 auto;
  width: 1200px;
  height: 97px;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-right: 25px;
}

.menu__header_main-text {
  text-transform: uppercase;
  color: #3f4043;
  font-size: 41px;
  font-family: "Myriad Pro Regular", sans-serif;
  padding-left: 32px;
  padding-top: 32px;
}

.menu__header_second-text {
  color: #cbccce;
  font-size: 20px;
  font-family: "Myriad Pro Regular", sans-serif;
  padding-left: 36px;
  padding-top: 5px;
}

.bars {
  margin: 16px auto;
  width: 980px;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.bars__left {
  width: 496px;
  background-color: #3f4043;
  display: flex;
  align-items: center;
}

.bars__left_text {
  text-transform: uppercase;
  color: #acd8ad;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 40px;
  padding-left: 17px;
}

.bars__right {
  width: 485px;
  background-color: #acd8ad;
  display: flex;
  align-items: center;
}

.bars__right_text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 40px;
  padding-left: 17px;
}

.table {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.table__row {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  border: 1px solid red;
}

.table__row_column-first {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.table__row_column-first_headline {
  text-transform: uppercase;
  color: #3f4043;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 30px;
  padding-left: 22px;
  padding-top: 18px;
}

.table__row_column-first_logo {
  padding-right: 9px;
  padding-top: 6px;
}

.table__row_column-second {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.table__row_column-second_headline {
  text-transform: uppercase;
  color: #3f4043;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 30px;
  padding-left: 12px;
  padding-top: 18px;
}

.table__row_column-second_logo {
  padding-right: 14px;
  padding-top: 7px;
}
