/*@media screen and (min-width: 640px){};
@media screen and (min-width: 980px){};
@media screen and (min-width: 1200px){};*/
@media screen and (min-width: 320px) {
  .bars__640_main_right {
    display: none;
  }
  .footer-big {
    display: none;
  }
  .table-big {
    display: none;
  }
  .bars {
    display: none;
  }
  .header {
    height: 35px;
    width: 320px;
    margin: 0 auto;
    background-color: #373c3f;
  }
  .header__logo {
    display: none;
  }
  .header__nav-items {
    display: none;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav_text {
    color: #ffffff;
    font-size: 12px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 18px;
  }
  .header__nav_burger {
    width: 41px;
    height: 35px;
    background-color: #202529;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__nav_burger_burger__button {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .header__nav_burger_burger__button i {
    position: absolute;
    width: 16px;
    height: 2px;
    opacity: 1;
    background-color: #fff;
    top: 3px;
    left: 3px;
    transition: all .4s linear;
    transform-origin: 2.3px 1px;
  }
  .header__nav_burger_burger__button i:nth-child(2) {
    top: 7px;
  }
  .header__nav_burger_burger__button i:nth-child(3) {
    top: 11px;
  }
  .header__nav_burger .burger__button_opened i:nth-child(1) {
    transform: rotate(45deg);
  }
  .header__nav_burger .burger__button_opened i:nth-child(2) {
    opacity: 0;
  }
  .header__nav_burger .burger__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
  }
  .burger-menu {
    width: 185px;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    right: 1px;
    display: none;
    transition: 1s;
  }
  .burger-menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 185px;
    height: 30px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    cursor: pointer;
  }
  .burger-menu__list_item {
    text-decoration: none;
    color: #444444;
    font-size: 12px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding: 9px 92px 9px 16px;
  }
  .burger-menu__list:hover {
    background-color: #f5f5f5;
  }
  .first-container {
    margin: 0 auto;
    background-image: url("../img/header-fon.png");
    width: 320px;
    height: 173px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }
  .first-container__main-text {
    color: #ffffff;
    font-size: 16px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 17px;
    margin-bottom: -11px;
  }
  .first-container__text-site {
    color: #a6d6e0;
    font-size: 12px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 23px;
  }
  .product-gallery {
    margin: 4px auto;
    width: 320px;
    height: 230px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .product-gallery__menu-first {
    background-image: url("../img/menu1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  .product-gallery__menu-first_text {
    color: #ffffff;
    font-size: 21px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 63px;
    padding-bottom: 2px;
  }
  .product-gallery__menu-first_link {
    width: 71px;
    height: 75px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-first_link > i {
    color: #fefeff;
    font-size: 12px;
    padding-right: 2px;
    padding-bottom: 4px;
  }
  .product-gallery__menu-second {
    background-image: url("../img/menu2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  .product-gallery__menu-second_text {
    color: #ffffff;
    font-size: 21px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 63px;
    padding-bottom: 2px;
  }
  .product-gallery__menu-second_link {
    width: 71px;
    height: 74px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-second_link > i {
    color: #fefeff;
    font-size: 12px;
    padding-right: 2px;
    padding-bottom: 4px;
  }
  .product-gallery__menu-third {
    background-image: url("../img/menu3.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  .product-gallery__menu-third_text {
    color: #ffffff;
    font-size: 21px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 63px;
    padding-bottom: 2px;
  }
  .product-gallery__menu-third_link {
    width: 71px;
    height: 75px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-third_link > i {
    color: #fefeff;
    font-size: 12px;
    padding-right: 2px;
    padding-bottom: 4px;
  }
  .menu {
    margin: 0 auto;
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
  }
  .menu__header_img {
    display: none;
  }
  .menu__header_main-text {
    text-transform: uppercase;
    color: #3f4043;
    font-size: 20px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 16px;
    padding-top: 16px;
    letter-spacing: -0.05em;
  }
  .menu__header_second-text {
    color: #cbccce;
    font-size: 10px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 17px;
    padding-top: 3px;
  }
  .bars__640_main {
    display: none;
  }
  .bars__320_main {
    margin: 19px auto 0;
    width: 320px;
    height: 40px;
    display: block;
  }
  .bars__320_main__left {
    width: 320px;
    height: 37px;
    background-color: #3f4043;
    display: flex;
    align-items: center;
  }
  .bars__320_main__left_text {
    text-transform: uppercase;
    color: #acd8ad;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 20px;
    padding-left: 17px;
  }
  .bars__320_main__right {
    width: 320px;
    height: 37px;
    background-color: #acd8ad;
    display: flex;
    align-items: center;
  }
  .bars__320_main__right_text {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 20px;
    padding-left: 17px;
  }
  .table {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 399px;
  }
  .table__row {
    width: 320px;
  }
  .table__row_column-first {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .table__row_column-first_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 15px;
    padding-left: 18px;
    padding-top: 4px;
  }
  .table__row_column-first_logo > img {
    height: 24px;
    padding-right: 17px;
  }
  .table__row_column-first_list {
    width: 320px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*&_items li{
                        list-style-type: square;
                        font-size: 8px;
                        margin-bottom: 10px;
                    }*/
  }
  .table__row_column-first_list_items {
    height: 220px;
    padding-left: 14px;
    padding-top: 27px;
  }
  .table__row_column-first_list_items_headtext {
    float: left;
    font-size: 15px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-first_list_items_text {
    text-align: right;
    font-size: 15px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 15px;
  }
  .table__row_column-first_list_items_li {
    margin-bottom: 10px;
  }
  .table__row_column-first_list_items p {
    text-align: justify;
    font-size: 9px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 7px;
    margin-left: 4px;
    padding-right: 17px;
  }
  .table__row_column-second {
    display: flex;
    width: 100%;
    height: 38px;
    justify-content: space-between;
    align-items: center;
  }
  .table__row_column-second_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 15px;
    padding-left: 18px;
  }
  .table__row_column-second_logo > img {
    height: 24px;
    padding-right: 23px;
  }
  .table__row_column-second_list {
    width: 320px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*&_items li{
                        list-style-type: square;
                        font-size: 8px;
                        margin-bottom: 10px;
                    }*/
  }
  .table__row_column-second_list_items {
    height: 220px;
    padding-left: 14px;
    padding-top: 27px;
  }
  .table__row_column-second_list_items_headtext {
    float: left;
    font-size: 15px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-second_list_items_text {
    text-align: right;
    font-size: 15px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 15px;
  }
  .table__row_column-second_list_items_li {
    margin-bottom: 10px;
  }
  .table__row_column-second_list_items p {
    text-align: justify;
    font-size: 9px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 7px;
    margin-left: 4px;
    padding-right: 17px;
  }
  .footer {
    margin: 36px auto 0;
    width: 320px;
    height: 55px;
    background-color: #acd8ad;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    color: #ffffff;
    font-size: 14px;
    font-family: "Myriad Pro Regular", sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
  }
}

@media screen and (min-width: 640px) {
  .table-big {
    display: none;
  }
  .footer-big {
    display: none;
  }
  .header {
    height: 75px;
    width: 640px;
    margin: 0 auto;
    background-color: #373c3f;
  }
  .header__logo {
    display: block;
  }
  .header__nav-items {
    display: none;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav_text {
    color: #ffffff;
    font-size: 25px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 37px;
  }
  .header__nav_burger {
    width: 81px;
    height: 75px;
    background-color: #202529;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__nav_burger_burger__button {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .header__nav_burger_burger__button i {
    position: absolute;
    width: 31px;
    height: 4px;
    opacity: 1;
    background-color: #fff;
    top: -3px;
    left: -5px;
    transition: all .4s linear;
    transform-origin: 3.0px 1px;
  }
  .header__nav_burger_burger__button i:nth-child(2) {
    top: 6px;
  }
  .header__nav_burger_burger__button i:nth-child(3) {
    top: 15px;
  }
  .header__nav_burger .burger__button_opened i:nth-child(1) {
    transform: rotate(45deg);
  }
  .header__nav_burger .burger__button_opened i:nth-child(2) {
    opacity: 0;
  }
  .header__nav_burger .burger__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
  }
  .burger-menu {
    width: 243px;
    height: 214px;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    right: 1px;
    display: none;
    transition: 1s;
  }
  .burger-menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 243px;
    height: 41px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    cursor: pointer;
  }
  .burger-menu__list_item {
    text-decoration: none;
    color: #444444;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    padding: 16px 128px 8px 29px;
  }
  .burger-menu__list:hover {
    background-color: #f5f5f5;
  }
  .first-container {
    margin: 0 auto;
    background-image: url("../img/header-fon.png");
    width: 640px;
    height: 346px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }
  .first-container__main-text {
    color: #ffffff;
    font-size: 35px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-left: 38px;
    padding-top: 25px;
    margin-bottom: -18px;
  }
  .first-container__text-site {
    color: #a6d6e0;
    font-size: 24px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-left: 37px;
    padding-top: 40px;
  }
  .product-gallery {
    margin: 4px auto;
    width: 640px;
    height: 457px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .product-gallery__menu-first {
    background-image: url("../img/menu1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 640px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  .product-gallery__menu-first_text {
    color: #ffffff;
    font-size: 33px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 136px;
    padding-bottom: 3px;
  }
  .product-gallery__menu-first_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-first_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .product-gallery__menu-second {
    background-image: url("../img/menu2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 640px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  .product-gallery__menu-second_text {
    color: #ffffff;
    font-size: 33px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 136px;
    padding-bottom: 3px;
  }
  .product-gallery__menu-second_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-second_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .product-gallery__menu-third {
    background-image: url("../img/menu3.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 640px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  .product-gallery__menu-third_text {
    color: #ffffff;
    font-size: 33px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 186px;
    padding-bottom: 10px;
  }
  .product-gallery__menu-third_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-third_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .menu {
    margin: 0 auto;
    width: 640px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
  }
  .menu__header_img {
    display: none;
  }
  .menu__header_main-text {
    text-transform: uppercase;
    color: #3f4043;
    font-size: 42px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 13px;
    padding-top: 33px;
    letter-spacing: -0.07em;
  }
  .menu__header_second-text {
    color: #cbccce;
    font-size: 20px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 17px;
    padding-top: 3px;
  }
  .bars__320_main {
    display: none;
  }
  .bars__640_main {
    margin: 19px auto 0;
    width: 640px;
    height: 75px;
    display: block;
  }
  .bars__640_main__left {
    width: 640px;
    height: 75px;
    background-color: #3f4043;
    display: flex;
    align-items: center;
  }
  .bars__640_main__left_text {
    text-transform: uppercase;
    color: #acd8ad;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 40px;
    padding-left: 37px;
  }
  .bars__640_main_right {
    margin: 420px auto 0;
    width: 640px;
    height: 75px;
    display: block;
  }
  .bars__640_main_right__right {
    width: 640px;
    height: 75px;
    background-color: #acd8ad;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .bars__640_main_right__right_text {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 38px;
    padding-left: 39px;
  }
  .table {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 640px;
  }
  .table__row {
    width: 640px;
  }
  .table__row_column-first {
    display: flex;
    width: 100%;
    padding-top: 28px;
    justify-content: space-between;
    align-items: center;
  }
  .table__row_column-first_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 30px;
    padding-left: 36px;
    padding-top: 4px;
  }
  .table__row_column-first_logo > img {
    height: 44px;
    padding-right: 30px;
    padding-bottom: 7px;
  }
  .table__row_column-first_list {
    width: 640px;
    height: 212px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table__row_column-first_list_items {
    width: 640px;
    height: 220px;
    padding-left: 31px;
    padding-top: 12px;
  }
  .table__row_column-first_list_items_headtext {
    float: left;
    font-size: 26px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-first_list_items_text {
    text-align: right;
    font-size: 26px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 40px;
  }
  .table__row_column-first_list_items_li {
    margin-bottom: 22px;
  }
  .table__row_column-first_list_items li {
    list-style-type: square;
    font-size: 8px;
    margin-bottom: 22px;
  }
  .table__row_column-first_list_items p {
    text-align: justify;
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 16px;
    margin-left: 6px;
    padding-right: 36px;
  }
  .table__row_column-second {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    margin-top: 191px;
  }
  .table__row_column-second_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 30px;
    padding-left: 36px;
  }
  .table__row_column-second_logo > img {
    height: 47px;
    padding-right: 47px;
  }
  .table__row_column-second_list {
    width: 640px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
  }
  .table__row_column-second_list_items {
    width: 640px;
    padding-left: 32px;
    padding-top: 18px;
  }
  .table__row_column-second_list_items_headtext {
    float: left;
    font-size: 27px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-second_list_items_text {
    text-align: right;
    font-size: 27px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 37px;
  }
  .table__row_column-second_list_items_li {
    margin-bottom: 23px;
  }
  .table__row_column-second_list_items li {
    list-style-type: square;
    font-size: 8px;
    margin-bottom: 24px;
  }
  .table__row_column-second_list_items p {
    text-align: justify;
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 14px;
    margin-left: 4px;
    padding-right: 37px;
  }
  .footer {
    margin: 440px auto 0;
    width: 640px;
    height: 96px;
    background-color: #acd8ad;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    color: #ffffff;
    font-size: 20px;
    font-family: "Myriad Pro Regular", sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
  }
}

@media screen and (min-width: 980px) {
  .header {
    height: 97px;
    width: 980px;
    margin: 0 auto;
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
  }
  .header__nav-items {
    text-decoration: none;
    text-transform: uppercase;
    color: #ebebeb;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    display: block;
    padding-left: 29px;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav_text {
    display: none;
    color: #ffffff;
    font-size: 25px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 37px;
  }
  .header__nav_burger {
    display: none;
    width: 81px;
    height: 75px;
    background-color: #202529;
    justify-content: center;
    align-items: center;
  }
  .header__nav_burger_burger__button {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .header__nav_burger_burger__button i {
    position: absolute;
    width: 31px;
    height: 4px;
    opacity: 1;
    background-color: #fff;
    top: -3px;
    left: -5px;
    transition: all .4s linear;
    transform-origin: 3.0px 1px;
  }
  .header__nav_burger_burger__button i:nth-child(2) {
    top: 6px;
  }
  .header__nav_burger_burger__button i:nth-child(3) {
    top: 15px;
  }
  .header__nav_burger .burger__button_opened i:nth-child(1) {
    transform: rotate(45deg);
  }
  .header__nav_burger .burger__button_opened i:nth-child(2) {
    opacity: 0;
  }
  .header__nav_burger .burger__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
  }
  .burger-menu {
    width: 243px;
    height: 214px;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    right: 1px;
    display: none;
    transition: 1s;
  }
  .burger-menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 243px;
    height: 41px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    cursor: pointer;
  }
  .burger-menu__list_item {
    text-decoration: none;
    color: #444444;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    padding: 16px 128px 8px 29px;
  }
  .burger-menu__list:hover {
    background-color: #f5f5f5;
  }
  .first-container {
    margin: 0 auto;
    background-image: url("../img/header-fon.png");
    width: 980px;
    height: 530px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }
  .first-container__main-text {
    color: #ffffff;
    font-size: 54px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 57px;
    margin-bottom: -43px;
  }
  .first-container__text-site {
    color: #a6d6e0;
    font-size: 34px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding-left: 29px;
    padding-top: 99px;
  }
  .product-gallery {
    margin: 6px auto;
    width: 980px;
    height: 327px;
    display: flex;
    justify-content: center;
    flex-flow: row;
  }
  .product-gallery__menu-first {
    background-image: url("../img/menu1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 327px;
    height: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-gallery__menu-first_text {
    color: #ffffff;
    font-size: 39px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-bottom: 8px;
    padding-left: 0px;
  }
  .product-gallery__menu-first_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-first_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .product-gallery__menu-second {
    background-image: url("../img/menu2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 327px;
    height: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-gallery__menu-second_text {
    color: #ffffff;
    font-size: 39px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-bottom: 8px;
    padding-left: 0;
  }
  .product-gallery__menu-second_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-second_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .product-gallery__menu-third {
    background-image: url("../img/menu3.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 327px;
    height: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-gallery__menu-third_text {
    color: #ffffff;
    font-size: 39px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-bottom: 8px;
    padding-left: 0px;
  }
  .product-gallery__menu-third_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-third_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .menu {
    margin: 33px auto;
    width: 980px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
  }
  .menu__header_img {
    display: block;
    margin-right: 38px;
    margin-top: 12px;
  }
  .menu__header_main-text {
    text-transform: uppercase;
    color: #3f4043;
    font-size: 35px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 13px;
    padding-top: 33px;
    letter-spacing: -0.07em;
  }
  .menu__header_second-text {
    color: #cbccce;
    font-size: 20px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 15px;
    padding-top: 8px;
  }
  .bars__320_main {
    display: none;
  }
  .bars__640_main {
    display: none;
  }
  .bars__640_main_right {
    display: none;
  }
  .bars {
    margin: -17px auto;
    width: 980px;
    height: 75px;
    display: flex;
    justify-content: space-between;
  }
  .bars__left {
    width: 593px;
    background-color: #3f4043;
    display: flex;
    align-items: center;
  }
  .bars__left_text {
    text-transform: uppercase;
    color: #acd8ad;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 34px;
    padding-left: 17px;
    padding-top: 2px;
  }
  .bars__right {
    width: 593px;
    background-color: #acd8ad;
    display: flex;
    align-items: center;
  }
  .bars__right_text {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 34px;
    padding-left: 21px;
    padding-top: 3px;
  }
  .table {
    display: none;
    margin: 0 auto;
    justify-content: space-between;
    width: 980px;
    height: 700px;
  }
  .table__row {
    display: flex;
    justify-content: space-between;
    width: 48px;
    border: 1px solid red;
  }
  .table__row_column-first {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .table__row_column-first_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 30px;
    padding-left: 22px;
    padding-top: 18px;
  }
  .table__row_column-first_logo > img {
    height: 44px;
    padding-right: 30px;
    padding-bottom: 7px;
  }
  .table__row_column-first_list {
    width: 480px;
    height: 212px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table__row_column-first_list_items {
    width: 640px;
    height: 220px;
    padding-left: 31px;
    padding-top: 12px;
  }
  .table__row_column-first_list_items_headtext {
    float: left;
    font-size: 26px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-first_list_items_text {
    text-align: right;
    font-size: 26px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 40px;
  }
  .table__row_column-first_list_items_li {
    margin-bottom: 22px;
  }
  .table__row_column-first_list_items li {
    list-style-type: square;
    font-size: 8px;
    margin-bottom: 22px;
  }
  .table__row_column-first_list_items p {
    text-align: justify;
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 16px;
    margin-left: 6px;
    padding-right: 36px;
  }
  .table__row_column-second {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .table__row_column-second_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 30px;
    padding-left: 12px;
    padding-top: 18px;
  }
  .table__row_column-second_logo > img {
    height: 47px;
    padding-right: 47px;
  }
  .table__row_column-second_list {
    width: 485px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
  }
  .table__row_column-second_list_items {
    width: 640px;
    padding-left: 32px;
    padding-top: 18px;
  }
  .table__row_column-second_list_items_headtext {
    float: left;
    font-size: 27px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-second_list_items_text {
    text-align: right;
    font-size: 27px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 37px;
  }
  .table__row_column-second_list_items_li {
    margin-bottom: 23px;
  }
  .table__row_column-second_list_items li {
    list-style-type: square;
    font-size: 8px;
    margin-bottom: 24px;
  }
  .table__row_column-second_list_items p {
    text-align: justify;
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 14px;
    margin-left: 4px;
    padding-right: 37px;
  }
  .footer {
    margin: 97px auto 0;
    width: 640px;
    height: 96px;
    background-color: #acd8ad;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    color: #ffffff;
    font-size: 20px;
    font-family: "Myriad Pro Regular", sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  .table-big {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 980px;
    height: 700px;
  }
  .table-big__col-left {
    width: 100%;
    height: 800px;
    margin-top: 17px;
  }
  .table-big__col-left__headline {
    display: inline-block;
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    padding-left: 17px;
    padding-top: 34px;
  }
  .table-big__col-left__logo {
    display: inline-block;
    margin-left: 96px;
  }
  .table-big__col-left__logo_img1 {
    width: 42px;
    height: 42px;
  }
  .table-big__col-left__logo_img3 {
    width: 25px;
    height: 43px;
  }
  .table-big__col-left_block {
    display: block;
    width: 100%;
  }
  .table-big__col-left_list_item {
    margin-top: 35px;
    height: 65px;
  }
  .table-big__col-left_list_item_headtext {
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    padding-left: 12px;
    float: left;
    width: 340px;
  }
  .table-big__col-left_list_item_prise {
    text-align: right;
    font-weight: 600;
    padding-left: 187px;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    margin-right: 6px;
  }
  .table-big__col-left_list_item p {
    display: inline-block;
    color: #3f4043;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding-left: 23px;
    padding-top: 16px;
  }
  .table-big__col-right {
    justify-content: space-between;
    width: 987px;
    height: 800px;
    margin-top: 17px;
  }
  .table-big__col-right__headline {
    display: inline-block;
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    margin-left: 23px;
    padding-top: 38px;
    width: 357px;
    float: left;
  }
  .table-big__col-right__logo {
    display: inline-block;
    margin-left: 40px;
    padding-bottom: 4px;
  }
  .table-big__col-right__logo_img1 {
    width: 55px;
    height: 38px;
    padding-top: 28px;
    padding-right: 16px;
  }
  .table-big__col-right__logo_img3 {
    width: 25px;
    height: 43px;
  }
  .table-big__col-right__logo_img4 {
    width: 37px;
    height: 39px;
    padding-top: 32px;
    margin-left: 16px;
  }
  .table-big__col-right_block {
    display: block;
    width: 100%;
  }
  .table-big__col-right_list_item {
    margin-top: 35px;
    height: 65px;
  }
  .table-big__col-right_list_item_headtext {
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    padding-left: 12px;
    float: left;
    width: 340px;
  }
  .table-big__col-right_list_item_prise {
    text-align: right;
    font-weight: 600;
    padding-left: 187px;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    margin-right: 24px;
  }
  .table-big__col-right_list_item p {
    display: inline-block;
    color: #3f4043;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding-left: 23px;
    padding-top: 16px;
  }
  .footer {
    display: none;
  }
  .footer-big {
    margin: 170px auto;
    width: 980px;
    height: 100px;
    background-color: #acd8ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-big__text {
    padding-right: 98px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Lato", sans-serif;
  }
  .footer-big img {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 97px;
    width: 1200px;
    margin: 0 auto;
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 37px;
  }
  .header__nav-items {
    text-decoration: none;
    text-transform: uppercase;
    color: #ebebeb;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    display: block;
    padding-left: 29px;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav_text {
    display: none;
    color: #ffffff;
    font-size: 25px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 37px;
  }
  .header__nav_burger {
    display: none;
    width: 81px;
    height: 75px;
    background-color: #202529;
    justify-content: center;
    align-items: center;
  }
  .header__nav_burger_burger__button {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .header__nav_burger_burger__button i {
    position: absolute;
    width: 31px;
    height: 4px;
    opacity: 1;
    background-color: #fff;
    top: -3px;
    left: -5px;
    transition: all .4s linear;
    transform-origin: 3.0px 1px;
  }
  .header__nav_burger_burger__button i:nth-child(2) {
    top: 6px;
  }
  .header__nav_burger_burger__button i:nth-child(3) {
    top: 15px;
  }
  .header__nav_burger .burger__button_opened i:nth-child(1) {
    transform: rotate(45deg);
  }
  .header__nav_burger .burger__button_opened i:nth-child(2) {
    opacity: 0;
  }
  .header__nav_burger .burger__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
  }
  .burger-menu {
    width: 243px;
    height: 214px;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    right: 1px;
    display: none;
    transition: 1s;
  }
  .burger-menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 243px;
    height: 41px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    cursor: pointer;
  }
  .burger-menu__list_item {
    text-decoration: none;
    color: #444444;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    padding: 16px 128px 8px 29px;
  }
  .burger-menu__list:hover {
    background-color: #f5f5f5;
  }
  .first-container {
    margin: 0 auto;
    background-image: url("../img/header-fon.png");
    width: 1200px;
    height: 649px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }
  .first-container__main-text {
    color: #ffffff;
    font-size: 57px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding-left: 41px;
    padding-top: 51px;
    margin-bottom: -43px;
  }
  .first-container__text-site {
    color: #a6d6e0;
    font-size: 34px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding-left: 29px;
    padding-top: 99px;
  }
  .product-gallery {
    margin: 6px auto;
    width: 1200px;
    height: 404px;
    display: flex;
    justify-content: center;
    flex-flow: row;
  }
  .product-gallery__menu-first {
    background-image: url("../img/menu1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-gallery__menu-first_text {
    color: #ffffff;
    font-size: 39px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-bottom: 8px;
    padding-left: 0px;
  }
  .product-gallery__menu-first_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-first_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .product-gallery__menu-second {
    background-image: url("../img/menu2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-gallery__menu-second_text {
    color: #ffffff;
    font-size: 39px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-bottom: 8px;
    padding-left: 0;
  }
  .product-gallery__menu-second_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-second_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .product-gallery__menu-third {
    background-image: url("../img/menu3.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-gallery__menu-third_text {
    color: #ffffff;
    font-size: 39px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-bottom: 8px;
    padding-left: 0px;
  }
  .product-gallery__menu-third_link {
    width: 142px;
    height: 150px;
    background-color: #acd8ad;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-gallery__menu-third_link > i {
    color: #fefeff;
    font-size: 27px;
    padding-right: 7px;
    padding-bottom: 10px;
  }
  .menu {
    margin: 33px auto;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
  }
  .menu__header_img {
    display: block;
    margin-right: 27px;
    margin-top: 3px;
  }
  .menu__header_main-text {
    text-transform: uppercase;
    color: #3f4043;
    font-size: 38px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 8px;
    padding-top: 35px;
    letter-spacing: -0.01em;
  }
  .menu__header_second-text {
    color: #cbccce;
    font-size: 20px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-left: 15px;
    padding-top: 8px;
  }
  .bars__320_main {
    display: none;
  }
  .bars__640_main {
    display: none;
  }
  .bars__640_main_right {
    display: none;
  }
  .bars {
    margin: -17px auto;
    width: 1200px;
    height: 75px;
    display: flex;
    justify-content: space-between;
  }
  .bars__left {
    width: 593px;
    background-color: #3f4043;
    display: flex;
    align-items: center;
  }
  .bars__left_text {
    text-transform: uppercase;
    color: #acd8ad;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 39px;
    padding-left: 17px;
    padding-top: 2px;
  }
  .bars__right {
    width: 608px;
    background-color: #acd8ad;
    display: flex;
    align-items: center;
  }
  .bars__right_text {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 39px;
    padding-left: 21px;
    padding-top: 3px;
  }
  .table {
    display: none;
    margin: 0 auto;
    justify-content: space-between;
    width: 980px;
    height: 700px;
  }
  .table__row {
    display: flex;
    justify-content: space-between;
    width: 48px;
    border: 1px solid red;
  }
  .table__row_column-first {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .table__row_column-first_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 30px;
    padding-left: 22px;
    padding-top: 18px;
  }
  .table__row_column-first_logo > img {
    height: 44px;
    padding-right: 30px;
    padding-bottom: 7px;
  }
  .table__row_column-first_list {
    width: 480px;
    height: 212px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table__row_column-first_list_items {
    width: 640px;
    height: 220px;
    padding-left: 31px;
    padding-top: 12px;
  }
  .table__row_column-first_list_items_headtext {
    float: left;
    font-size: 26px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-first_list_items_text {
    text-align: right;
    font-size: 26px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 40px;
  }
  .table__row_column-first_list_items_li {
    margin-bottom: 22px;
  }
  .table__row_column-first_list_items li {
    list-style-type: square;
    font-size: 8px;
    margin-bottom: 22px;
  }
  .table__row_column-first_list_items p {
    text-align: justify;
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 16px;
    margin-left: 6px;
    padding-right: 36px;
  }
  .table__row_column-second {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .table__row_column-second_headline {
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 30px;
    padding-left: 12px;
    padding-top: 18px;
  }
  .table__row_column-second_logo > img {
    height: 47px;
    padding-right: 47px;
  }
  .table__row_column-second_list {
    width: 485px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
  }
  .table__row_column-second_list_items {
    width: 640px;
    padding-left: 32px;
    padding-top: 18px;
  }
  .table__row_column-second_list_items_headtext {
    float: left;
    font-size: 27px;
    font-family: "Myriad Pro Regular", sans-serif;
  }
  .table__row_column-second_list_items_text {
    text-align: right;
    font-size: 27px;
    font-family: "Myriad Pro Regular", sans-serif;
    font-weight: 600;
    padding-right: 37px;
  }
  .table__row_column-second_list_items_li {
    margin-bottom: 23px;
  }
  .table__row_column-second_list_items li {
    list-style-type: square;
    font-size: 8px;
    margin-bottom: 24px;
  }
  .table__row_column-second_list_items p {
    text-align: justify;
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding-top: 14px;
    margin-left: 4px;
    padding-right: 37px;
  }
  .footer {
    margin: 97px auto 0;
    width: 640px;
    height: 96px;
    background-color: #acd8ad;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    color: #ffffff;
    font-size: 20px;
    font-family: "Myriad Pro Regular", sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  .table-big {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }
  .table-big__col-left {
    width: 80%;
    height: 800px;
    margin-top: 17px;
  }
  .table-big__col-left__headline {
    display: inline-block;
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 31px;
    padding-left: 21px;
    padding-top: 37px;
  }
  .table-big__col-left__logo {
    display: inline-block;
    margin-left: 130px;
  }
  .table-big__col-left__logo_img1 {
    width: 48px;
    height: 48px;
    margin-top: -27px;
    margin-left: -14px;
  }
  .table-big__col-left__logo_img3 {
    width: 25px;
    height: 43px;
  }
  .table-big__col-left_block {
    display: block;
    width: 100%;
  }
  .table-big__col-left_list_item {
    margin-top: 35px;
    height: 65px;
  }
  .table-big__col-left_list_item_headtext {
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    padding-left: 17px;
    float: left;
    width: 340px;
  }
  .table-big__col-left_list_item_prise {
    text-align: right;
    font-weight: 600;
    padding-left: 187px;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    margin-right: 6px;
  }
  .table-big__col-left_list_item p {
    display: inline-block;
    color: #3f4043;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-left: 23px;
    padding-top: 16px;
  }
  .table-big__col-right {
    justify-content: space-between;
    width: 987px;
    height: 800px;
    margin-top: 17px;
  }
  .table-big__col-right__headline {
    display: inline-block;
    text-transform: uppercase;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 28px;
    margin-left: 23px;
    padding-top: 38px;
    width: 460px;
    float: left;
  }
  .table-big__col-right__logo {
    display: inline-block;
    margin-left: 40px;
    padding-bottom: 4px;
  }
  .table-big__col-right__logo_img1 {
    width: 55px;
    height: 38px;
    padding-top: 28px;
    padding-right: 16px;
  }
  .table-big__col-right__logo_img3 {
    width: 25px;
    height: 43px;
  }
  .table-big__col-right__logo_img4 {
    width: 43px;
    height: 41px;
    padding-top: 32px;
    margin-left: 16px;
  }
  .table-big__col-right_block {
    display: block;
    width: 100%;
  }
  .table-big__col-right_list_item {
    margin-top: 35px;
    height: 65px;
  }
  .table-big__col-right_list_item_headtext {
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    padding-left: 12px;
    float: left;
    width: 340px;
  }
  .table-big__col-right_list_item_prise {
    text-align: right;
    font-weight: 600;
    padding-left: 187px;
    color: #3f4043;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 25px;
    margin-right: 24px;
  }
  .table-big__col-right_list_item p {
    display: inline-block;
    color: #3f4043;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding-left: 23px;
    padding-top: 16px;
  }
  .footer {
    display: none;
  }
  .footer-big {
    margin: 220px auto;
    width: 1200px;
    height: 100px;
    background-color: #acd8ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-big__text {
    padding-right: 36px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Lato", sans-serif;
  }
  .footer-big img {
    padding-left: 30px;
  }
}
